@media screen and (min-width: 1280px) {
    .container {
        min-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }


    /**===OUR-COURSES=======================!*/

    .courses {
        padding-bottom: 150px;
    }

    .courses-intro {
        justify-content: space-between;
        gap: 0;
        margin-bottom: 50px;
    }

    .courses-title-text {
        max-width: 405px;
    }


    .courses-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0 auto;
        justify-content: space-between;
    }

    .courses-list-item {}

    .courses-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
        padding: 28px;
        height: 398px;
    }

    .list-box {}

    .courses-list-number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;
    }

    .list-number {
        color: rgba(255, 255, 255, 0.40);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
    }

    .icon-item {}

    .list-link {}

    .icon-img {}

    .courses-subtitle {
        width: 265px;
    }

    .courses-list-text {
        width: 283px;
    }
}