@media screen and (min-width: 1280px) {
    .container {
        min-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }


    /**===OUR-COURSES=======================!*/

    .courses {
        padding-bottom: 150px;
    }

    .courses-intro {
        justify-content: space-between;
        gap: 0;
        margin-bottom: 50px;
    }

    .courses-title-text {
        max-width: 405px;
    }


    .courses-list {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .courses-content {
        width: 347px;

    }

    .icon-item:hover {
        background-color: #BEA69E;
    }

    .icon-item:hover .icon-img {
        fill: #fff;
    }

    .courses-list-text {
        width: 283px;
    }
}